@value vars:  "../../style/vars.css";
@value background-dark, text-color-light, z-index-menu, roundness-md from vars;

.menu {
  background: background-dark;
  color: text-color-light;
  display: inline-block;
  position: absolute;
  z-index: z-index-menu;
  border-radius: roundness-md;
  backdrop-filter: blur(16px);
  top: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.right {
  right: 0;
}

.left {
  left: 0;
}
