@value vars:  "../../style/vars.css";
@value background-dark-2, sizing-1, sizing-3, sizing-6 from vars;

.formExpandContainer {
  display: flex;
  position: relative;
  align-items: center;
  transition: width 1s ease-in-out;
  border-radius: sizing-3;
  border: 1px solid;
  overflow: hidden;
}

.formExpandContainer:focus-within {
  outline: auto auto 1px;
  width: 100%;
}

.form {
  background: background-dark-2;
  padding: sizing-3 sizing-1;
  border-width: 0;
  flex-grow: 1;
  line-height: 1.5;
  color: white;
  width: 100%;
  font-size: 1rem;
  border-radius: 0;
}

.form:focus,
.form:focus-visible {
  outline: none;
}

.label {
  color: white;
  display: flex;
  height: 100%;
  background: background-dark-2;
  border-width: 0;
  padding: sizing-3;
  border-right-width: 0;
}
