@value vars:  "../../style/vars.css";
@value background-dark, sizing-1, sizing-3, sizing-6 from vars;

@value form-border-width: 1px;

.formExpandContainer {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.formExpandContainer:focus-within {
  outline: auto auto 1px;
}

.form {
  background: background-dark;
  padding: sizing-3 sizing-6;
  border: form-border-width solid gray;
  flex-grow: 1;
  line-height: 1.5;
  font-size: 1rem;
  color: white;
  border-left-width: 0;
}

.form:focus,
.form:focus-visible {
  outline: none;
}

.label {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  background: background-dark;
  border: form-border-width solid gray;
  padding: sizing-3;
  border-right-width: 0;
}
