@value vars:  "../../style/vars.css";
@value background-dark, sizing-1, sizing-3, sizing-6 from vars;

@value form-border-width: 1px;

.formExpandContainer {
  display: flex;
  position: relative;
  align-items: center;
  transition: width 1s ease-in-out;
}

.formExpandContainer:focus-within {
  outline: auto auto 1px;
  width: 100%;
}

.form {
  background: background-dark;
  padding: sizing-3 sizing-1;
  border: form-border-width solid gray;
  flex-grow: 1;
  line-height: 1.5;
  font-size: 1rem;
  color: white;
  border-left-width: 0;
}

.form:focus,
.form:focus-visible {
  outline: none;
}

.label {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  background: background-dark;
  border: form-border-width solid gray;
  padding: sizing-3 sizing-6;
  border-right-width: 0;
}
