@value vars:  "../../style/vars.css";
@value dark-color from vars;

.navbar {
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  transition: background-color 0.4s;
  position: absolute;
  height: 4.5rem;
}

.navbar-scroll {
  background-color: dark-color;
  position: fixed;
}
