@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* Colors */
$gray: #6d6d6e;
$white: #ffffff;
$red: #e50914;

/* Black */
$black: #000000;
$black-75: #000000BF;

/* Sizing */
$sizing-1: 0.125rem; /* 2px */
$sizing-2: 0.25rem; /* 4px */
$sizing-3: 0.375rem; /* 6px */
$sizing-4: 0.500rem; /* 8px */
$sizing-5: 0.625rem; /* 10px */
$sizing-6: 0.75rem; /* 12px */
$sizing-7: 0.875rem; /* 14px */
$sizing-8: 1rem; /* 16px */
$sizing-9: 1.125rem; /* 18px */
$sizing-10: 1.25rem; /* 20px */

/* 
Variables 
*/

/* Breakpoints */
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/* Roundness */
$roundness: 0rem;

/* Background */
$background-dark: $black-75;

/* Text */
$text-color-dark: $black;
$text-color-light: $white;

/* Primary */
$primary-color: $red;

/* Secondary */
$secondary-color: $gray;

/* Light */
$light-color: $white;

/* Dark */
$dark-color: $black;
