@value vars:  "../../style/vars.css";
@value background-dark, roundness-sm, sizing-2 from vars;

.carousel-button {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 5%;
  background: background-dark;
}

.carousel-button.left {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.carousel-button.right {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.carousel-item {
  display: inline-block;
  border-radius: roundness-sm;
  overflow: hidden;
}
