@value vars:  "../../style/vars.css";
@value background-dark, roundness-sm, sizing-2 from vars;

/* Hide scrollbar for IE, Edge and Firefox */
.carousel-inner {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel-inner::-webkit-scrollbar {
  display: none;
}

.carousel-button-container {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 5%;
  background: background-dark;
  display: flex;
  transition: "opacity 0.2s";
}

.carousel-button-container.left {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  left: 0;
}

.carousel-button-container.right {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  right: 0;
}

.carousel-item {
  display: inline-block;
  overflow: hidden;
}

.carousel-item img {
  border-radius: roundness-sm;
}
