/* @value vars:  "../../style/vars.css";
@value primary-color, secondary-color, light-color, dark-color, text-color-dark, text-color-light, sizing-1, sizing-2, sizing-3, sizing-6, roundness-md from vars; */

.multicarousel-slide {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: width 0.3s, opacity 0.5s linear;
}

.multicarousel-slide.show {
  visibility: initial;
  opacity: 1;
}

.animated-fade {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.animated-fade.show {
  visibility: visible;
  opacity: 1;
}
